.borderButton {
    background-color: transparent;
    color: black;
    width: 10rem;
    border-radius: 5px;
    font-size: 2rem;
    border: 0px;
}
hr {
    border-color: black;
    width: 0px;
    margin: 0 auto;
    border-width: 0px;
}
.borderLine {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
   
}

.hrDiv{
    
    width: 10rem;
    
}